

.title-font{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.header:hover{
    
}

.body-font{
    font-size: 18px;
}

.amplif-gap{
    margin:15px;
}

.logoimage{
    width : 100%;
    height: 90%;
    max-height: 30%;
}

.book-body{
    @media (min-width: 768px) {
        .book-body {
            height: calc(110vh - 196px);
      } 
    } 
}

.site-navbar{
    background-color: #887766 ;
}

.site-navbar:hover{
    background-color: #999;
}

.site-section-cover{
    padding-top: 6%;
    height: calc(110vh - 196px);
    background-position: center center;
    background-repeat: no-repeat;
}

.Marquee-alert{
    color:white;
    background-color: black;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.booknav{
    padding-left: 20px;
}

.btn-hold{
    background-color: #444433;
}

.book-description{
  background-color:#eedddd;
  margin-top: 10px;
  margin-bottom: 10px;
}

.activeno{
    pointer-events: none;
    cursor: default;
    color:black;
}


.book-container{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;     
}
.site-section {
    padding: 0em 0; }
    @media (min-width: 768px) {
      .site-section {
        padding: 0em 0; 
        padding-bottom: 0em;
    } }
    .site-section.site-section-sm {
      padding: 4em 0; 
    }

    .site-navbar {
        position: relative;
        padding:0px;
    }

    .alert {       
        padding: 0rem 0rem;
        margin-bottom: 0rem;
    }

    .footer {
        padding: 5em 0;
    }